.center-text{
	text-align: center;
}
.center-text h5{
	color: var(--main-color);
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.center-text h5{
	font-size: var(--h2-font);
	line-height: 1.2;
	margin-top: 60px;
}
.categories-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
	text-align: center;
	margin-top: 4rem;
}
.box img{
	height: auto;
	width: 110px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.box img .img-pizza{
	height: 10px;
}
.box{
	padding: 25px 60px;
	border: 1px solid #e9ecef;
	border-radius: 20px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
	transition: all .40s ease;
}
.box:hover{
	transform: translateY(-15px);
}
.box h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
	line-height: 1.3;
	transition: all .40s ease;
}
.box h3:hover{
	color: var(--main-color);
}
.box p{
	font-size: var(--p-font);
	color: var(--second-color);
	font-weight: 500;
}
.main-btn{
	text-align: center;
	margin-top: 5rem;
}
.btn{
	display: inline-block;
	padding: 5px;
	font-size: var(--p-font);
	font-weight: initial;
	background: var(--main-color);
	color: var(--bg-color);
	border-radius: 10px;
	/* width: 200px; */
	transition: all .40s ease;
}
.btn:hover{
	transform: scale(0.9) translateY(-5px);
}

.courses{
	background: url(../img/coursebg.png);
	background-size: cover;
	background-position: center;
}
